In [31]:
import pandas as pd
from dateutil import parser, rrule
import numpy as np

start_date = "2018-01-01"
end_date = "2018-02-1"


start = parser.parse(start_date)
end = parser.parse(end_date)
dates = list(rrule.rrule(rrule.DAILY, dtstart=start, until=end))
 
dates_string = ["{day}/{month}/{year}".format(day=d.day,month=d.month,year=d.year) for d in dates]
dates_string

['1/1/2018',
 '2/1/2018',
 '3/1/2018',
 '4/1/2018',
 '5/1/2018',
 '6/1/2018',
 '7/1/2018',
 '8/1/2018',
 '9/1/2018',
 '10/1/2018',
 '11/1/2018',
 '12/1/2018',
 '13/1/2018',
 '14/1/2018',
 '15/1/2018',
 '16/1/2018',
 '17/1/2018',
 '18/1/2018',
 '19/1/2018',
 '20/1/2018',
 '21/1/2018',
 '22/1/2018',
 '23/1/2018',
 '24/1/2018',
 '25/1/2018',
 '26/1/2018',
 '27/1/2018',
 '28/1/2018',
 '29/1/2018',
 '30/1/2018',
 '31/1/2018',
 '1/2/2018']

In [25]:
temperatures = pd.read_csv("Chennai_temperature_data.csv")
X = temperatures.values

In [52]:
arr_idx =  [np.where(X[:,0] == d)[0][0] for d in dates_string]
temperatures.iloc[arr_idx]

,Date,Avg Humidity,Dew point (celcius),Max Humidity,Max Temp,Max Wind Spd (Km/h),Mean Temp,Min Humidity,Min Temp,Sea pres (hPa),Wind Spd (Km/h)
6454,1/1/2018,76,22.0,94.0,30,178,26,41,22,1009.55,9
6455,2/1/2018,79,22.0,100.0,30,18,26,53,21,1009.62,6
6456,3/1/2018,77,22.0,100.0,30,22,26,43,22,1011.38,7
6457,4/1/2018,57,18.0,89.0,30,22,27,36,24,1012.50,10
6458,5/1/2018,60,16.0,94.0,29,22,24,25,18,1011.85,7
6459,6/1/2018,62,16.0,88.0,29,18,24,35,18,1011.48,6
6460,7/1/2018,61,16.0,83.0,29,22,24,26,18,1012.29,6
6461,8/1/2018,68,18.0,88.0,29,26,23,41,17,1012.87,6
6462,9/1/2018,73,21.0,89.0,28,20,25,54,22,1014.04,9
6463,10/1/2018,88,23.0,100.0,26,11,24,75,22,1014.89,5
6464,11/1/2018,80,23.0,100.0,30,18,26,42,22,1014.59,5
6465,12/1/2018,80,22.0,100.0,31,17,26,38,21,1013.73,3
6466,13/1/2018,84,23.0,100.0,30,18,26,57,21,1013.30,5
6467,14/1/2018,82,22.0,100.0,30,22,25,55,20,1013.75,5
6468,15/1/2018,77,21.0,100.0,31,17,26,27,21,1013.67,4
6469,16/1/2018,79,22.0,100.0,30,15,26,49,21,1012.67,4
6470,17/1/2018,69,18.0,100.0,30,18,25,33,20,1012.87,5
6471,18/1/2018,67,18.0,94.0,29,24,24,39,18,1013.32,7
6472,19/1/2018,65,18.0,88.0,29,22,24,41,19,1013.95,6
6473,20/1/2018,63,18.0,83.0,29,20,24,39,20,1013.46,6
6474,21/1/2018,66,18.0,83.0,29,22,24,42,19,1012.41,5
6475,22/1/2018,69,19.0,83.0,29,18,24,48,19,1011.50,7
6476,23/1/2018,72,19.0,88.0,30,18,24,43,19,1011.09,5
6477,24/1/2018,74,20.0,94.0,30,15,24,42,19,1010.42,5
6478,25/1/2018,76,21.0,100.0,31,22,26,31,20,1009.89,6
6479,26/1/2018,72,20.0,100.0,31,22,26,28,20,1010.66,8
6480,27/1/2018,71,19.0,94.0,30,18,25,33,20,1011.31,7
6481,28/1/2018,70,20.0,94.0,29,20,24,43,19,1012.31,8
6482,29/1/2018,72,20.0,94.0,30,22,24,47,19,1013.67,6
6483,30/1/2018,69,19.0,88.0,30,28,24,42,17,1014.06,7
6484,31/1/2018,65,17.0,100.0,31,118,24,31,18,1014.46,6
6485,1/2/2018,68,18.0,94.0,31,15,24,33,17,1014.17,4

In [53]:
l=[]
for i in arr_idx:
    try:
      l.append([i, temperatures.iloc[i,0], float(temperatures.iloc[i,6])])
    except ValueError:
      pass
pd.DataFrame(np.array(l))

       0          1     2
0   6454   1/1/2018  26.0
1   6455   2/1/2018  26.0
2   6456   3/1/2018  26.0
3   6457   4/1/2018  27.0
4   6458   5/1/2018  24.0
5   6459   6/1/2018  24.0
6   6460   7/1/2018  24.0
7   6461   8/1/2018  23.0
8   6462   9/1/2018  25.0
9   6463  10/1/2018  24.0
10  6464  11/1/2018  26.0
11  6465  12/1/2018  26.0
12  6466  13/1/2018  26.0
13  6467  14/1/2018  25.0
14  6468  15/1/2018  26.0
15  6469  16/1/2018  26.0
16  6470  17/1/2018  25.0
17  6471  18/1/2018  24.0
18  6472  19/1/2018  24.0
19  6473  20/1/2018  24.0
20  6474  21/1/2018  24.0
21  6475  22/1/2018  24.0
22  6476  23/1/2018  24.0
23  6477  24/1/2018  24.0
24  6478  25/1/2018  26.0
25  6479  26/1/2018  26.0
26  6480  27/1/2018  25.0
27  6481  28/1/2018  24.0
28  6482  29/1/2018  24.0
29  6483  30/1/2018  24.0
30  6484  31/1/2018  24.0
31  6485   1/2/2018  24.0

In [75]:
planet_data = pd.read_csv("Chennai_PP_data.csv")
arr_idx =  [np.where(planet_data.values[:,0] == d)[0][0] for d in dates_string]
keys = planet_data.iloc[:,1::2].keys()
print(keys)
print(len(keys))
degrees = planet_data.values[arr_idx][:,1::2]
pd.DataFrame(degrees)

Index(['Ascendant (As)_Degree', 'Jupiter (Ju)_Degree', 'Ketu (Ke)_Degree',
       'Mars (Ma)_Degree', 'Mercury (Me)_Degree', 'Moon (Mo)_Degree',
       'Neptune (Ne)_Degree', 'Rahu (Ra)_Degree', 'Saturn (Sa)_Degree',
       'Sun (Su)_Degree', 'True Ketu_Degree', 'True Rahu_Degree',
       'Uranus (Ur)_Degree', 'Venus (Ve)_Degree'],
      dtype='object')
14

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,344.15,202.87,292.77,200.22,234.1,64.82,317.8,112.77,247.31,256.67,291.22,111.22,0.46,254.75
1,345.55,203.03,292.71,200.84,235.1,80.13,317.82,112.71,247.42,257.69,291.15,111.15,0.45,256.01
2,346.95,203.2,292.66,201.47,236.16,95.34,317.84,112.66,247.54,258.71,291.11,111.11,0.45,257.27
3,348.34,203.36,292.61,202.09,237.27,110.29,317.86,112.61,247.66,259.73,291.09,111.09,0.46,258.52
4,349.72,203.53,292.56,202.71,238.41,124.87,317.89,112.56,247.77,260.74,291.1,111.1,0.46,259.78
5,351.11,203.69,292.5,203.34,239.6,139.01,317.91,112.5,247.89,261.76,291.12,111.12,0.46,261.04
6,352.48,203.85,292.45,203.96,240.81,152.68,317.93,112.45,248,262.78,291.15,111.15,0.46,262.3
7,353.86,204,292.4,204.58,242.06,165.92,317.96,112.4,248.12,263.8,291.17,111.17,0.47,263.56
8,355.22,204.16,292.34,205.2,243.34,178.76,317.98,112.34,248.24,264.82,291.17,111.17,0.47,264.81
9,356.58,204.31,292.29,205.82,244.64,191.28,318.01,112.29,248.35,265.84,291.16,111.16,0.48,266.07
10,357.94,204.46,292.24,206.45,245.96,203.54,318.04,112.24,248.46,266.86,291.12,111.12,0.49,267.33
11,359.28,204.61,292.18,207.07,247.3,215.6,318.06,112.18,248.58,267.88,291.07,111.07,0.49,268.59
12,0.63,204.76,292.13,207.69,248.66,227.53,318.09,112.13,248.69,268.9,291,111,0.5,269.85
13,1.96,204.91,292.08,208.31,250.04,239.38,318.12,112.08,248.8,269.91,290.94,110.94,0.51,271.1
14,3.29,205.05,292.03,208.93,251.43,251.2,318.15,112.03,248.92,270.93,290.88,110.88,0.52,272.36
15,4.6,205.19,291.97,209.55,252.84,263.02,318.17,111.97,249.03,271.95,290.83,110.83,0.54,273.62
16,5.91,205.33,291.92,210.17,254.27,274.88,318.2,111.92,249.14,272.97,290.8,110.8,0.55,274.88
17,7.22,205.47,291.87,210.78,255.7,286.81,318.23,111.87,249.25,273.99,290.79,110.79,0.56,276.13
18,8.51,205.61,291.81,211.4,257.15,298.84,318.26,111.81,249.36,275.01,290.79,110.79,0.57,277.39
19,9.8,205.74,291.76,212.02,258.61,311.01,318.29,111.76,249.47,276.03,290.8,110.8,0.59,278.65
20,11.07,205.87,291.71,212.64,260.08,323.35,318.32,111.71,249.58,277.04,290.82,110.82,0.6,279.91
21,12.34,206,291.65,213.26,261.57,335.91,318.35,111.65,249.69,278.06,290.84,110.84,0.62,281.16
22,13.6,206.13,291.6,213.87,263.06,348.75,318.38,111.6,249.8,279.08,290.86,110.86,0.64,282.42
23,14.85,206.25,291.55,214.49,264.57,1.9,318.41,111.55,249.91,280.1,290.87,110.87,0.66,283.68
24,16.1,206.37,291.5,215.1,266.08,15.41,318.44,111.5,250.01,281.11,290.87,110.87,0.68,284.93
25,17.33,206.49,291.44,215.72,267.61,29.3,318.48,111.44,250.12,282.13,290.86,110.86,0.7,286.19
26,18.55,206.61,291.39,216.33,269.15,43.57,318.51,111.39,250.23,283.15,290.85,110.85,0.72,287.44
27,19.77,206.73,291.34,216.95,270.7,58.19,318.54,111.34,250.33,284.16,290.84,110.84,0.74,288.7
28,20.97,206.84,291.28,217.56,272.26,73.07,318.57,111.28,250.44,285.18,290.82,110.82,0.76,289.95
29,22.17,206.95,291.23,218.18,273.83,88.11,318.61,111.23,250.54,286.19,290.82,110.82,0.78,291.21
30,23.36,207.06,291.18,218.79,275.41,103.17,318.64,111.18,250.64,287.21,290.81,110.81,0.81,292.47
31,24.53,207.16,291.12,219.4,277,118.08,318.67,111.12,250.74,288.22,290.81,110.81,0.83,293.72

In [96]:
import pandas as pd
from dateutil import parser, rrule
import numpy as np

start_date = "2000-06-01"
end_date = "2000-08-1"

def getDegrees_Y(dates_string,temperatures,planet_data,y_index=6):

   arr_idx =  [np.where(temperatures.values[:,0] == d)[0][0] for d in dates_string]

   Y=[]
   for i in arr_idx:
       try:
         if not np.isnan(float(temperatures.iloc[i,y_index])):
            Y.append([i, temperatures.iloc[i,0], float(temperatures.iloc[i,y_index])])
       except ValueError:
         pass

   Y = np.array(Y)
   Y_keys = ["id","Date",temperatures.keys()[y_index]]

   arr_idx2 =  [np.where(planet_data.values[:,0] == d)[0][0] for d in Y[:,1]]
   X_keys = planet_data.iloc[:,1::2].keys()
   X = planet_data.values[arr_idx2][:,1::2]

   assert(len(X)==len(Y))
   return {"X_keys" : X_keys, "X" : X, "Y_keys" : Y_keys, "Y":Y}

if __name__ == '__main__':

    start = parser.parse(start_date)
    end = parser.parse(end_date)
    dates = list(rrule.rrule(rrule.DAILY, dtstart=start, until=end))
 
    dates_string = ["{day}/{month}/{year}".format(day=d.day,month=d.month,year=d.year) for d in dates]

    temperatures = pd.read_csv("Chennai_temperature_data.csv")
    Y_keys = temperatures.keys()
    #print(Y_keys)
    planet_data = pd.read_csv("Chennai_PP_data.csv")

    ret = getDegrees_Y(dates_string,temperatures,planet_data,6)
    print(len(ret["X"]),len(ret["Y"]))

54 54