## Apriori Algorithm

### 1) Get the dataset

In [12]:
#Supress warnings
import warnings
warnings.filterwarnings('ignore')

# Importing the libraries
import numpy as np
import pandas as pd

np.set_printoptions(precision=3)
np.set_printoptions(suppress=True) #Otherwise prints in scientific format

%matplotlib inline 
#Needed to inline graphs
import matplotlib.pyplot as plt


# Importing the dataset
dataset = pd.read_csv('Market_Basket_Optimisation.csv',header=None)

### Probelm

A manager of a Super market store wants to optimize the placement of products. So we wants to know the association between the products. Here we have a data of transaction for a week.

In [15]:
print("No. of datapoints : ", len(dataset))
dataset.iloc[:10,:5]

No. of datapoints :  7501

                   0             1           2                 3             4
0             shrimp       almonds     avocado    vegetables mix  green grapes
1            burgers     meatballs        eggs               NaN           NaN
2            chutney           NaN         NaN               NaN           NaN
3             turkey       avocado         NaN               NaN           NaN
4      mineral water          milk  energy bar  whole wheat rice     green tea
5     low fat yogurt           NaN         NaN               NaN           NaN
6  whole wheat pasta  french fries         NaN               NaN           NaN
7               soup   light cream     shallot               NaN           NaN
8  frozen vegetables     spaghetti   green tea               NaN           NaN
9       french fries           NaN         NaN               NaN           NaN

### 2) Preparing the data as a list of list 

The Apriori algorithm that is used expects a list of list

In [27]:
X = []
for i in dataset.values:
    X.append([str(j) for j in i]) #Cast to string to take care of Nan

### 3) Training Apriori on the dataset

In [31]:
from apyori import apriori
help(apriori)

Help on function apriori in module apyori:

apriori(transactions, **kwargs)
    Executes Apriori algorithm and returns a RelationRecord generator.

    Arguments:
        transactions -- A transaction iterable object
                        (eg. [['A', 'B'], ['B', 'C']]).

    Keyword arguments:
        min_support -- The minimum support of relations (float).
        min_confidence -- The minimum confidence of relations (float).
        min_lift -- The minimum lift of relations (float).
        max_length -- The maximum length of the relation (integer).

In [49]:
rules = apriori(X, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2)
#support = #each prduct/#transaction (min no of transaction required to be considered for the rule)
#  eg, we want to consider products purchased atleast 3 times a day. So
#      min_support = 3*7/7500 = 0.03
#confidence = #(this product) ^ (other product)/#this product (find out by line search)
#lift = confidence/support (find out by line search)

### 3) Understanding the association

In [57]:
rules = apriori(X, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2) #Breaks down without this
pd.DataFrame(list(rules))[:5]

,items,support,ordered_statistics
0,"(light cream, chicken)",0.004533,"[((light cream), (chicken), 0.2905982905982905..."
1,"(escalope, mushroom cream sauce)",0.005733,"[((mushroom cream sauce), (escalope), 0.300699..."
2,"(escalope, pasta)",0.005866,"[((pasta), (escalope), 0.3728813559322034, 4.7..."
3,"(honey, fromage blanc)",0.003333,"[((fromage blanc), (honey), 0.2450980392156863..."
4,"(herb & pepper, ground beef)",0.015998,"[((herb & pepper), (ground beef), 0.3234501347..."

In [61]:
rules = apriori(X, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2) #Breaks down without this
pd.DataFrame(np.array(list(rules))[0,2])

      items_base  items_add  confidence      lift
0  (light cream)  (chicken)    0.290598  4.843951

#### People who buy light cream have 29% chance of getting chicken as well

In [62]:
rules = apriori(X, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2) #Breaks down without this
pd.DataFrame(np.array(list(rules))[1,2])

               items_base   items_add  confidence      lift
0  (mushroom cream sauce)  (escalope)    0.300699  3.790833

In [63]:
rules = apriori(X, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2) #Breaks down without this
pd.DataFrame(np.array(list(rules))[2,2])

  items_base   items_add  confidence      lift
0    (pasta)  (escalope)    0.372881  4.700812

Implement these rules and see if there is improvement in revenue. If not, make the rules stronger by setting higher confidence or support.